@charset "utf-8";


.is-ie .gnb > li > ul {
    left: 50%;
    transform: translateX(-50%);
}


.is-ie .coffeeB .Best03 > img {
    border: none;
}

.is-ie .map iframe {
    display: none;
}

.is-ie .map a {
    display: block;
    width: 100%;
    height: 259px;
    background: url(/ez210927/kjw/PA/img/location.jpg) no-repeat center;
}