@charset "utf-8";

:root {
    --swiper-navigation-color: #fff;
    --swiper-pagination-color: #fff;
}
.basic{
    width: 100%;
    height: 500px;
}
.swiper-slide.sec01 {
    background: lightcoral;
}
.swiper-slide.sec02 {
    background: lightsalmon;
}
.swiper-slide.sec03 {
    background: lightgoldenrodyellow;
}
.swiper-slide.sec04 {
    background: lightgreen;
}
.swiper-slide.sec05 {
    background: lightblue;
}
.swiper-slide.sec06 {
    background: lightskyblue;
}
.swiper-slide.sec07 {
    background: lightpink;
}
.swiper-slide.sec08 {
    background: #777;
}
.swiper-slide.sec09 {
    background: #555;
}