@charset "utf-8";
/* @import url('index_m_IE.css'); */
/* ie css*/


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

body {
    min-width: 320px;
}
.inner {
    width: 90%;
}



header {
    height: auto;
    border-bottom: 4px solid #1F497D;
    position: fixed;
    z-index: 200;
}


.head01 {
    display: none;
}


.head02 .inner {
    padding: 16px 0;
    position: relative;
}


.logo a:nth-child(1) {
    width: 148px;
    height: 24px;
}


.mLan {
    display: inline-block;
    font-size: 8px;
    color: #1F497D;
    padding: 0 2px;
    border: 1px solid #999;
    margin-left: 4px;
}

.mLan:hover {
    background-color: #1F497D;
    color: #fff;
    border: none;
}


.sear > input {
    display: none;
}

.sear > span {
    font-size: 24px;
    line-height: 24px;
    position: static;
}

.lan {
    display: none;
}

.mMenuBt {
    display: block;
    color: #1F497D;
    cursor: pointer;
}




nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 500;
    background: #fff;
    word-break: keep-all;
    display: flex;
    transform: translateX(-100%);
    transition: transform 0.5s;
    overflow: hidden;
}

nav.on {
    transform: translateX(0%);
    transition: transform 0.5s;
}



nav .gnb {
    width: 30%;
    height: 100%;
    background-color: #1F497D;
    padding: 62px 0 0 0;
}

nav .gnb > .inner {
    width: 100%;
}

nav .gnb ul {
    display: block;
}

nav .gnb ul > li {
    width: 100%;
    border: none;
}

nav .gnb ul > li:hover,
nav .gnb ul > li:first-child:hover,
nav .gnb ul > li:last-child:hover {
    background-color: #4670A4;
}

nav .gnb ul > li.on,
nav .gnb ul > li:first-child.on,
nav .gnb ul > li:last-child.on {
    background-color: #4670A4;
}

nav .gnb ul > li:first-child {
    border-left: none;
}

nav .gnb ul > li:first-child,
nav .gnb ul > li:last-child {
    background: transparent;
}


nav .gnb ul > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    line-height: normal;
}




nav .lnb {
    width: 70%;
    position: static;
    display: block;
    box-shadow: none;
    padding: 62px 0 0 0;
    position: relative;
}

nav .mlogin {
    display: block;
    font-size: 12px;
    font-weight: 500;
    color: #222;
    position: absolute;
    top: 22px;
    left: 11px;
}

nav .mCloseBt {
    display: block;
    position: absolute;
    top: 16px;
    right: 7%;
    color: #1F497D;
    cursor: pointer;
}

nav .lnb > div {
    width: 100%;
    display: block;
}

nav .lnb > div > ul {
    width: 100%;
    padding: 24px 0 24px 32px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-right: none;   
    transform: translateX(100%);
    transition: transform 0.5s;
    position: absolute;
}

nav .lnb > div > ul.on {
    transform: translateX(0%);
    transition: transform 0.5s;
}

nav .lnb > div > ul:nth-child(1) {
    border-left: none;
}


/* nav .lnb >div > ul:nth-child(6) {
    background: url(../img/gnb7.gif) no-repeat 50% 50%;
    background-size: auto;
} */




nav .lnb > div > ul > li > a,
nav .lnb > div > ul > li > span  {
    font-size: 13px;
    font-weight: 500;
    color: #1F497D;
}



nav .lnb > div > ul > li > ul > li > a {
    font-size: 12px;
}














.sec01 {
    padding: 56px 0 0 0;
}

.sec01 .inner {
    padding: 16px 0;
}

.sec01 > div > div {
    height: 261px;
}

.sec01 a {
    height: 261px;
}

.sec01 a div {
    height: auto;
    padding: 36px 20px;
}

.sec01 h2 {
    font-size: 12px;
}
.sec01 h3 {
    font-size: 8px;
}

.sec01 .slick-Prev {
    left: 20px;
    font-size: 24px;
}

.sec01 .slick-Next {
    right: 20px;
    font-size: 24px;
}

.sec01 .slick-dots {
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.sec01 .slick-dots li {
    width: 8px;
    height: 8px;
}

.sec01 .controlBt {
  display: none;

}



.sec02Top {
    flex-direction: column;
}

.sec02Top > div {
    width: 100%;
}

.sec02Top > div > div:first-child {
    padding: 16px 0;
}

.sec02Top h2 {
    font-size: 15px;
}

.booking > div:nth-child(1) button {
    font-size: 12px;
}

.book {
    padding: 16px 20px;
}

.book p {
    font-size: 12px;
}

.book p:first-child {
    font-size: 12px;
}

.edu > div:nth-child(2) a::before {
    top: 8px;
}

.edu li span:nth-child(1) {
    width: 55vw;
    font-size: 12px;
}

.edu li span:nth-child(2) {
    font-size: 11px;
}

.way>div:nth-child(2) span {
    width: 18px;
    height: 18px;
    font-size: 12px;
    padding: 3px;
    border-radius: 100%;
    background-color: #1F497D;
    color: #fff;
    margin: 5px 0;
}

.way>div:nth-child(2)>div {
    align-items: flex-start;
    padding: 6px 0;
}

.way>div:nth-child(2)>div>div {
    padding: 0 0 0 12px;
    display: block;
}

.way>div:nth-child(2)>div>div>p:nth-child(1) {
    font-size: 12px;
    margin: 0;
}

.way>div:nth-child(2)>div>div>p:nth-child(2) {
    font-size: 11px;
}




.sec02Bottom {
    flex-direction: column;
    padding: 16px 0;
}

article {
    width: 100%;
}

article h3 {
    font-size: 14px;
    margin: 0 8px 0 0;
}

.slick-vertical .slick-slide {
    padding: 0 16px;
}

article a {
    display: flex;
    justify-content: space-between;
}

article span:nth-of-type(1) {
    font-size: 14px;
    width: 34vw;
}

article span:nth-of-type(2) {
    font-size: 12px;
    padding-left: 36px;
}



.ser {
    width: 100%;
    padding: 16px 0 0 0;
}

.ser a {
    width: 18%;
    padding: 14px 0;
}

.ser a p {
    display: flex;
    justify-content: center;
    font-size: 11px;
    align-items: center;
}



.foot01 >div.inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.foot01 a {
    margin: 8px 16px;
    font-size: 12px;
}

footer > div:nth-child(2) {
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    
}

.mSns {
    position: relative;
}

.mSns >div {
    padding: 0 16px;
    font-size: 13px;
    line-height: 34px;
    color: #fff;
    cursor: pointer;
    text-align: center;
}

.mSns >div >span {
    font-size: 17px;
}

.mSns ul {
    align-items: center;
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #fff;
    display: none;
}

.mSns ul.on {
    display: flex;
}


.mSns li {
    width: 37px;
    height: 37px;
    margin: 4px 2px;
}

.mSns li a {
    display: inline-block;
    width: 100%;
    height: 100%;

}

.mSns li:nth-child(1) {
    background: url(../img/iconset.png) no-repeat -399px -57px;
}
.mSns li:nth-child(2) {
    background: url(../img/iconset.png) no-repeat -399px 0;
    
}
.mSns li:nth-child(3) {
    background: url(../img/iconset.png) no-repeat -399px -228px;
}
.mSns li:nth-child(4) {
    background: url(../img/iconset.png) no-repeat -399px -171px;
}
.mSns li:nth-child(5) {
    background: url(../img/iconset.png) no-repeat -399px -114px;
}










.foot02 .inner {
    padding: 16px 0 85px 0;
    flex-direction: column;
    align-items: center;
}



.foot02 a + div {
    padding-left: 0;
}

.foot02 address {
    font-size: 12px;
    padding: 4px 0;
}

.foot02 address span {
    display: block;
}

.foot02 address span:nth-child(2) {
    display: none;
}

.foot02 small {
    font-size: 12px;
}

.foot02 img {
    right: 50%;
    bottom: 0;
    transform: translateX(50%);
}












.modalBody {
    width: 80%;
    min-width: 300px;
    padding: 48px 24px;
}

.modalBody h2 {
    font-size: 15px;
}

/* .modalBody > ul,
.modalBody > div {
    padding-left: 20px;
} */

.modalBody > ul > li {
    font-size: 12px;
}

.modalBody > ul > li > ul {
    display: block;
}

.modalBody > ul > li > ul > li {
    font-size: 11px;
}

.modalBody > div {
    margin: 16px 0;
}

.modalBody > div span {
    font-size: 20px;
}

.modalBody > div p {
    font-size: 12px;
}

.modalBody > div p:first-child::after {
    font-size: 10px;
}

.modalBody .closed p:first-child::after {
    margin: 0 19px;
}

.modalBody .closed p:first-child {
    padding-right: 30px;
}

fieldset > p {
    margin-bottom: 8px;
}

fieldset > div > p {
    width: 68px;
    margin-right: 16px;
    font-size: 12px;
}

fieldset input {
    width: 45vw;
    height: 50px;
    padding: 0 24px;
    font-size: 12px;
}

fieldset input + span {
    right: 36px;
}

fieldset .tel select,
fieldset .tel input {
    width: 14vw;
}

fieldset select {
    width: 24vw;
    height: 50px;
    font-size: 12px;
}

fieldset select > option {
    font-size: 12px;
}

fieldset button {
    width: auto;
    font-size: 12px;
    padding: 6px 18px;
}

.timeSel {
    top: 50px;
    width: 45vw;
}

fieldset ul li {
    padding: 3px;
    margin: 3px 2px;
    font-size: 12px;
}



/* datapicker */
#ui-datepicker-div {
    width: 45vw;
}

.ui-datepicker-title > span {
    font-size: 12px;
}

.ui-datepicker-calendar > thead span {
    font-size: 12px;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button{
    font-size: 12px;
}