@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* Noto Sans KR */
@import url('https://fonts.googleapis.com/css2?family=Material+Icons+Outlined');
/* Material Icons Outlined*/
@import url('https://fonts.googleapis.com/css2?family=Material+Icons');
/* Material Icons baseline*/
@import url('https://fonts.googleapis.com/css2?family=Material+Icons+Round');
/* Material Icons Round*/
@import url('//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css');
/* slick css*/
@import url('//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css');
/* datepicker css*/
@import url('indexIE.css');
/* ie css*/




* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

body {
    min-width: 1280px;
    color: #222;
    font-family: 'Noto Sans KR', sans-serif;
    word-break: keep-all;
    background-color: #3C4559;
}

.inner {
    width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #222;
}

li {
    list-style: none;
}




header {
    width: 100%;
    height: 142px;
    background: #fff;
}

.head01 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.head01 .inner {
    display: flex;
    justify-content: space-between;
}

.link {
    display: flex;
}

.link a {
    display: block;
    background-color: #627FA4;
    padding: 7px 12px;
    font-size: 14px;
    color: #fff;
    border-right: 1px solid #fff;
}

.link span {
    font-size: 13px;
    margin-left: 6px;
}

.login {
    display: flex;
}

.login > a {
    font-size: 17px;
    padding: 0 16px;
    line-height: 34px;
}

.sns {
    position: relative;
}

.sns > div {
    padding: 0 16px;
    font-size: 13px;
    line-height: 34px;
    color: #1F497D;
    cursor: pointer;
}

.sns > div > span {
    font-size: 17px;
}

.sns ul {
    align-items: center;
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: all 2s;
    display: none;
}

.sns:hover ul {
    display: flex;
    transition: all 2s;
}

.sns li {
    width: 37px;
    height: 37px;
    margin: 4px 2px;
}

.sns li a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.sns li:nth-child(1) {
    background: url(../img/iconset.png) no-repeat -399px -57px;
}
.sns li:nth-child(2) {
    background: url(../img/iconset.png) no-repeat -399px 0; 
}
.sns li:nth-child(3) {
    background: url(../img/iconset.png) no-repeat -399px -228px;
}
.sns li:nth-child(4) {
    background: url(../img/iconset.png) no-repeat -399px -171px;
}
.sns li:nth-child(5) {
    background: url(../img/iconset.png) no-repeat -399px -114px;
}


.head02 .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 29px 0 0 0;
}

.logo a:nth-child(1) {
    display: inline-block;
    width: 372px;
    height: 62px;
    background: url(../img/logo.png) no-repeat center/ contain;
}

.mLan {
    display: none;
}

.head02 > div > div:nth-child(2) {
    display: flex;
}

.sear {
  position: relative;
}

.sear > input {
    width: 262px;
    height: 45px;
    border-radius: 40px;
    border: 1px solid #1F497D;
    padding: 0 50px 0 20px;
}

.sear > span {
    position: absolute;
    top: 2px;
    right: 12px;
    font-size: 26px;
    line-height: 41px;
    color: #1F497D;
    background: #fff;
    border-radius: 100%;
    cursor: pointer;
}



.lan {
    display: flex;
    margin-left: 15px;
}

.lan > a {
    display: block;
    border: 1px solid #999;
    background-color: transparent;
    font-size: 18px;
    color: #aaa;
    padding: 8px;
}

.lan > a:nth-child(1) {
    color: #1F497D;
}
.lan > a:nth-child(2):hover {
    color: #1F497D;
}

.mMenuBt {
    display: none;
}




nav .mCloseBt,
nav .mlogin {
    display: none;
}

nav {
    position: relative;
}

nav .gnb {
    width: 100%;
    height: auto;
    background-color: #E5E5E5;
}

nav .gnb ul {
    display: flex;
}

nav .gnb ul > li {
    width: 200px;
    height: 59px;
    border-right: 1px solid #fff;
}

nav .gnb ul > li:first-child {
    border-left: 1px solid #fff;
}

nav .gnb ul > li:first-child,
nav .gnb ul > li:last-child {
    background: #aaa;
}


nav .gnb ul > li > a {
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 18px;
    text-align: center;
    line-height: 59px;
}



nav .lnb {
    width: 100%;
    background-color: #fff;
    position: absolute;
    z-index: 100;
    display: none;
    box-shadow: 1px 20px 50px 0px rgba(0, 0, 0, 0.1);
}


nav:hover .lnb {
    display: block;
}

nav .lnb > div {
    display: flex;
    background-color: #fff;
}

nav .lnb > div > ul {
    width: 200px;
    padding: 30px 0 64px 20px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}


nav .lnb > div > ul:nth-child(1) {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

nav .lnb > div > ul > li {
    margin-bottom: 29px;
}

nav .lnb > div > ul > li > a,
nav .lnb > div > ul > li > span {
    font-size: 18px;
    font-weight: 500;
    color: #1F497D;
}

nav .lnb > div > ul > li > ul {
    margin-top: 7px;
}

nav .lnb > div > ul > li > ul > li {
    margin-top: 2px;
}

nav .lnb > div > ul > li > ul > li > a {
    font-size: 15px;
    color: #666;
}

nav .lnb > div > ul > li > ul > li > a::before {
    content: "-";
    display: inline-block;
    margin-right: 8px;
}

nav .lnb a:hover {
    color: #F3AC4A;
}


.sec01 {
    width: 100%;
    height: auto;
    background: #fff;
}

.sec01 .inner {
    height: 100%;
    padding: 24px 0;
    position: relative;
}

.sec01 > div > div {
    width: 100%;
    height: 393px;
    overflow: hidden;
}

.sec01 a {
    display: inline-block;
    width: 100%;
    height: 393px;
    color: #fff;
    position: relative;
    /* background: linear-gradient(to bottom, transparent, #000) */
}

.sec01 a.s01 {
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.8)),
    url(../img/getImage1.png) no-repeat 50% 50%;
    background-size: cover;
}
.sec01 a.s02 {
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.8)),
    url(../img/getImage2.png) no-repeat 50% 50%;
    background-size: cover;
}
.sec01 a.s03 {
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.8)),
    url(../img/getImage3.png) no-repeat 50% 50%;
    background-size: cover;
}

.sec01 a div {
    width: 100%;
    height: 148px;
    padding: 30px 0 0 77px;
    /* background: linear-gradient(to bottom, #fff 43%,#DCCFE6 43%); */
    /* background-color: rgba(0, 0, 0, 0.5); */
    position: absolute;
    left: 0;
    bottom: 0;
}

.sec01 h2 {
    font-size: 24px;
    padding-bottom: 8px;
}
.sec01 h3 {
    font-size: 16px;
    font-weight: 400;
}

/* .slick-prev.slick-arrow {
    position: absolute;
    top: 50%;
    left: 48px;
    z-index: 999;
}

.slick-next.slick-arrow {
    position: absolute;
    top: 50%;
    right: 48px;
    z-index: 999;
} */

.sec01 .slick-Prev {
    position: absolute;
    top: 50%;
    left: 48px;
    z-index: 10;
    transform: rotate(180deg);
    font-size: 36px;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.sec01 .slick-Next {
    position: absolute;
    top: 50%;
    right: 48px;
    z-index: 10;
    font-size: 36px;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.sec01 .slick-dots {
    display: flex;
    /* align-items: center; */
    position: absolute;
    bottom: 126px;
    left: 103px;
}


.sec01 .slick-dots li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #fff;
    margin: 4px;
}

.sec01 .slick-dots li.slick-active {
    width: 40px;
    border-radius: 10px;
    background-color: #00B0F0;
}

.sec01 .slick-dots button {
    display: none;
}


.sec01 .controlBt {
    position: absolute;
    bottom: 146px;
    left: 74px;
    font-size: 26px;
    color: #fff;
    cursor: pointer;
    margin-right: 4px;

}






.sec02 {
    width: 100%;
    height: auto;
    background: #fff;
}

.sec02Top {
    display: flex;
    width: 100%;
    height: auto;
    word-break: keep-all;
}

.sec02Top > div {
    width: 33.333333333%;
    padding: 0 20px;
}

.sec02Top > div > div:first-child {
    display: flex;
    justify-content: space-between;
    /* align-items: flex-end; */
    padding: 20px 0;
    border-bottom: 2px solid #222;
}

.sec02Top h2 {
    font-size: 21px;
    position: relative;
}

.booking {
    background-color: #1F497D;
    color: #fff;
}

.sec02Top > div.booking > div:nth-child(1) {
    border-color: #fff;
}

.booking > div:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.booking > div:nth-child(1) h2::after {
    font-size: 16px;
    color: #FF6767;
    padding: 0 0 0 8px;
    content: '*';
    position: absolute;
    top: -5px;
    right: -12px;
}

.booking > div:nth-child(1) button {
    border: none;
    background: #FF6767;
    padding: 4px 10px 6px 10px;;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}





.book {
    padding: 38px 20px;
}

.booking > div:nth-child(2) {
    border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
    background: url(../img/ico_time.png) no-repeat 20px 50%;
}

.booking > div:nth-child(3) {
    background: url(../img/ico_calendar.png) no-repeat 20px 50%;
}

.book p {
    padding-left: 64px;
}


.book p:first-child {
    font-size: 17px;
    color: #79ACFD; 
}


.edu {
    background-color: #EFF0F2;
}

.edu > div:nth-child(2) {
    padding: 20px 5px 0 5px;
}


.edu > div:nth-child(2) a {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.edu > div:nth-child(2) a::before {
    display: inline-block;
    content: "";
    width: 2px;
    height: 2px;
    background-color: #222;
    position: absolute;
    top: 11px;
    left: 4px;
}

.edu li {
    margin-bottom: 12px;
}


.edu li span:nth-child(1) {
    display: inline-block;
    width: 266px;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 0 0 21px;
}

.edu li span:nth-child(2) {
    padding: 1px 8px;
    background-color: #484D58;
    font-size: 13px;
    color: #fff;
}


.way {
    background-color: #f7f7f8;
}
.way>div:nth-child(2) {
    padding: 10px;
}

.way iframe {
    width: 100%;
    height: 170px;
}

.way>div:nth-child(2) span {
    width: 20px;
    height: 20px;
    font-size: 14px;
    padding: 3px;
    border-radius: 100%;
    background-color: #1F497D;
    color: #fff;
    margin: 5px 0;
}

.way>div:nth-child(2)>div {
    display: flex;
    align-items: center;
    /* padding: 6px 0; */
}

.way>div:nth-child(2)>div>div {
    /* padding: 0 0 0 15px; */
    display: flex;
}

.way>div:nth-child(2)>div>div>p:nth-child(1) {
    font-size: 15px;
    font-weight: 500;
    color: #1F497D;
    margin: 0 12px;
}

.way>div:nth-child(2)>div>div>p:nth-child(2) {
    font-size: 14px;
}


.sec02Bottom {
    display: flex;
    align-items: center;
    padding: 16px 24px;
}


article {
    width: 50%;
    height: 75px;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    border-bottom: 1px solid rgba(34, 34, 34, 0.5);
    border-top: 1px solid rgba(34, 34, 34, 0.5);
}



article h3 {
    /* display: inline; */
    font-size: 16px;
    font-weight: 500;
    color: #1F497D;
    margin: 0 48px;

}


.slick-vertical .slick-slide {
    display: flex;
    width: 100%;
    height: 75px;
    /* padding: 30px 0; */
    align-items: center;
 
}


article a {
    /* display: flex; */
    width: 100%;
    height: 75px;
    align-items: center;
    padding: 25px 0;
    /* border-bottom: 1px solid rgba(34, 34, 34, 0.5); */
}

/* article a:first-child {
    border-top: 1px solid rgba(34, 34, 34, 0.5);
} */
article a *{
    float: left;
    /* height: 100%; */
}

article span:nth-of-type(1) {
    display: block;
    font-size: 16px;
    width: 230px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

article span:nth-of-type(2) {
    display: block;
    font-size: 14px;
    color: #999;
    padding: 2px 0 0 30px;
}










.ser {
    width: 50%;
    padding-left: 24px;
    display: flex;
    justify-content: space-between;
}

.ser a {
    display: inline-block;
    width: 80px;
    height: 93px;
    padding: 12px 15px;
    background-color: #E5E5E5;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.ser a div {
    width: 50px;
    height: 50px;
    margin: 0 auto;
}


.ser a p {
    font-size: 12px;
    text-align: center;
    padding-top: 4px;
    color: #8b6228;

}

.ser a:hover p {
    color: #015472;

}

.ser a:nth-child(1) div {
    background: url(../img/icon_vr.svg) no-repeat 50% 50%;
}
.ser a:nth-child(1):hover div {
    background: url(../img/icon_vrB.svg) no-repeat 50% 50%;
}

.ser a:nth-child(2) div {
    background: url(../img/icon_money.svg) no-repeat 50% 50%;
}
.ser a:nth-child(2):hover div {
    background: url(../img/icon_moneyB.svg) no-repeat 50% 50%;
}

.ser a:nth-child(3) div {
    background: url(../img/icon_catalogue.svg) no-repeat 50% 50%;
    background-size: 70%;
}
.ser a:nth-child(3):hover div {
    background: url(../img/icon_catalogueB.svg) no-repeat 50% 50%;
    background-size: 70%;
}

.ser a:nth-child(4) div {
    background: url(../img/icon_history.svg) no-repeat 50% 50%;
    background-size: 55%;
}
.ser a:nth-child(4):hover div {
    background: url(../img/icon_historyB.svg) no-repeat 50% 50%;
    background-size: 55%;
}

.ser a:nth-child(5) div {
    background: url(../img/icon_museum.svg) no-repeat 50% 50%;
    background-size: 85%;
}
.ser a:nth-child(5):hover div {
    background: url(../img/icon_museumB.svg) no-repeat 50% 50%;
    background-size: 85%;
}



footer {
    width: 100%;
    height: auto;
    background-color: #3C4559;
    color: #fff;
}

.foot01 {
    width: 100%;
    height: auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.foot01 a {
    display: inline-block;
    margin: 29px 30px 29px 0;
    font-size: 15px;
    color: #fff;
}
.foot01 a:nth-child(2) {
    color: #FF6767;
}

footer > div:nth-child(2) {
    display: none;
}



.foot02 .inner {
    padding: 35px 0;
    display: flex;
    position: relative;
}

.foot02 a {
    display: block;
    width: 133px;
    height: 43px;
    background: url(../img/flogo.png) no-repeat 50% 50%;
}

.foot02 a + div {
    padding-left: 50px;
}

.foot02 address {
    font-style: normal;
    font-size: 14px;
    padding-bottom: 4px;
}

.foot02 address span:nth-child(2) {
    font-size: 13px;
    margin: 0 8px;
}

.foot02 small {
    font-size: 14px;
    font-weight: lighter;
}

.foot02 img {
    position: absolute;
    right: 0;
}


.modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 300;
    justify-content: center;
    display: none;
    overflow-x: auto;
    overflow-y: auto;
}

.modal.on {
    display: flex;
}

.not_scroll{
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100%
}

.modalBody {
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    width: 50%;
    height: 842px;
    min-width: 600px;
    /* height: 80vh; */
    /* overflow-y: auto; */
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    padding: 48px 86px;
    margin: 50px 0;
}

.modalBody > span {
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
}

.modalBody h2 {
    font-size: 21px;
    text-align: center;
    margin-bottom: 26px;
}

.modalBody > ul > li {
    font-size: 15px;
    font-weight: 500;
    color: #FF6767;
    margin-bottom: 8px;
}

.modalBody > ul > li > ul {
    display: flex;
    margin-top: 2px;
}

.modalBody > ul > li > ul > li {
    font-size: 13px;
    color: #222;
    margin-left: 16px;
}

.modalBody > div {
    margin: 24px 0;
}

.modalBody > div > div {
    display: flex;
}

.modalBody > div > div:first-child {
    margin-bottom: 4px;
}

.modalBody > div > div >div {
    display: flex;
}

.modalBody > div span {
    font-size: 25px;
    margin-right: 8px;
    color: #1F497D;
}

.modalBody > div p {
    font-size: 15px;
}

.modalBody > div p:first-child {
    color: #1F497D;
    font-weight: 500;
}
.modalBody > div p:first-child::after {
    display: inline-block;
    content: "|";
    font-size: 13px;
    margin: 0 8px;
}

.modalBody .closed p:first-child::after {
    position: absolute;
    margin: 0 21px;
}

.modalBody .closed p:first-child {
    padding-right: 33px;
}


form {
    display: flex;
    justify-content: center;
}

fieldset {
    border: none;
}

fieldset legend {
    display: none;
}

fieldset > p {
    font-size: 12px;
    color: #FF6767;
}

fieldset > div {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

fieldset > div > p {
    width: 102px;
    margin-right: 80px;
    font-size: 18px;
    color: #1F497D;
}

fieldset > div > p> span {
    color: #FF6767;
}



fieldset input {
    width: 373px;
    height: 56px;
    padding: 0 36px;
    /* position: relative; */
    font-size: 14px;
}

fieldset input + span {
    position: relative;
    right: 52px;
    top: 0;
    cursor: pointer;
}

fieldset .tel select,
fieldset .tel input {
    width: 116px;
}


fieldset select {
    width: 146px;
    height: 56px;
    /* padding: 0 36px; */
    font-size: 15px;
    text-align: center;
}

fieldset select > option {
    font-size: 15px;
    padding: 10px;
    text-align: center; 
}

.numberOnly {
    text-align: center;
    padding: 0;
}


fieldset button {
    display: block;
    width: 136px;
    font-size: 18px;
    background-color: #1F497D;
    color: #fff;
    border: none;
    padding: 6px 32px;
    margin: 32px auto 0;
    cursor: pointer;
}

fieldset .time {
    position: relative;
}

.timeSel {
    position: absolute;
    top: 56px;
    right: 24px;
    width: 373px;
    /* display: flex; */
    flex-wrap: wrap;
    /* justify-content: space-between; */
    padding: 12px;
    background-color: #fff;
    border: 1px solid #c5c5c5;
    transition: all 1s;
    display: none;
}

.timeSel.on {
    display: flex;
    transition: all 1s;
    border-radius: 3px;
}

fieldset ul li {
    width: 30%;
    text-align: center;
    border: 1px solid #aaa;
    padding: 4px 20px;
    margin-bottom: 4px;
    cursor: pointer;
    /* color: #aaa; */
    margin: 0 5px 4px 5px;
    font-weight: 300;
}

fieldset ul li:hover {
    color: #fff;
    background-color: #00B0F0;
    border-color: transparent;
}

fieldset ul li.on {
    color: #fff;
    background-color: #00B0F0;
    border-color: transparent;
}




/* datepicker */
#ui-datepicker-div {
    width: 373px;
    font-family: 'Noto Sans KR', sans-serif;
}

.ui-widget-header {
    background: none;
    border: transparent;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
}


.ui-datepicker-calendar > thead span {
    color: #F3AC4A;
}

.ui-datepicker-calendar > tbody a,
.ui-datepicker-calendar > tbody span {
    text-align: center;
    background-color: transparent;
}


.ui-datepicker-calendar > tbody a:hover,
.ui-datepicker-calendar > tbody span:hover {
    background-color: #00B0F0;
    color: #fff;
}



.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button{
    border: none;
    background-color: transparent;
    padding: 4px;
}



.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
    border: none;
    background-color: transparent;
    color: #00B0F0;
}



.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    border: none;
    background-color: #00B0F0;
    color: #fff;
}










/* .ui-timepicker ul {
    padding-right: 40px;
    width: 365px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ui-timepicker li.style {
    width: 30%;
}

.ui-timepicker-standard .ui-state-hover {
    background-color: #00B0F0;
    border: none;
    color: #fff;
} */


