@charset "utf-8";

/* .ie9 이하인 버전에서만 적용 */
.is-ie.ie9 .clearfix::after{
    content: "";
    display: table;
    /* display: block; */
    clear: both;
}


.is-ie .FAQ > ul > li:nth-child(2).on {
    display: inline-block;
    width: 100%;
}

.is-ie .FAQ > ul > li:nth-child(2) > span {
    float: left;
}


.is-ie .FAQ > ul > li:nth-child(2) > div {
    padding: 0 17px 0 49px;
}


.is-ie .way iframe {
    display: none;
}

.is-ie .way > div > a {
    display: block;
    width: 100%;
    height: 450px;
    background: url(../img/sub_map.JPG) no-repeat center / cover;
    margin: 0 0 6px 0;
}

/* .ie11 IE11전용 flex안되는 것 보정 */

.ie11 .sns ul {
    width: 207px;
}

.ie11 .edu li span:nth-child(1) {
    padding: 0;
}



/* .ie11 IE11전용 flex안되는 것 보정 */

.ie11 .sns ul {
    width: 207px;
}

.ie11 .edu li span:nth-child(1) {
    padding: 0;
}



/* .ie10 IE10전용 flex안되는 것 보정 */

.ie10 .sns ul {
    width: 207px;
}

.ie10 .edu li span:nth-child(1) {
    padding: 0;
}

/* .ie9 IE9전용 flex안되는 것 보정 */

.ie9 .head01 .inner .link {
    float: left;
    display: block;
}

.ie9 .head01 .inner .login {
    float: right;
    display: block;
}

.ie9 .link a {
    display: block;
    float: left;
}

.ie9 .link a span {
    display: none;
}

.ie9 .login > a {
    float: left;
}

.ie9 .login > div {
    float: right;
}  


.ie9 .sns > div span {
    width: 20px;
    background: url(../img/i-arrow_drop_down.svg) no-repeat center;
}


.ie9 .sns:hover ul {
    display: block;
    width: 207px;
}

.ie9 .sns li {
    float: left;
}


.ie9 .head02 > div > div:nth-child(1) {
    float: left;
}

.ie9 .head02 > div > div:nth-child(2) {
    float: right;
    margin: 11px 0 0 0;
}

.ie9 .sear,
.ie9 .lan {
    float: left;
}

.ie9 .sear span {
    width: 26px;
   background: url(../img/i-search.svg) no-repeat center; 
}

.ie9 .lan a {
    float: left;
}




.ie9 nav .gnb ul li {
    float: left;
}

.ie9 nav .lnb {
    z-index: 99999;
}

.ie9 nav .lnb > div > ul {
    float: left;
    height: 591px;
}

/* ----------------------------------------------------------------------------- */

.ie9 aside {
    float: left;
}

.ie9 #lnb1_02 > .Tab > span:nth-child(2) {
    width: 24px;
    height: 24px;
    background: url(../img/i-expand_more.svg) no-repeat center;
    float: right;
} 

.ie9 #lnb1_02 > .Tab:hover > span:nth-child(2) {
    background: url(../img/i-expand_more_white.svg) no-repeat center;
} 

.ie9 section {
    float: right;
}


.ie9 section .homeBt a:nth-of-type(1) span {
    width: 24px;
    background: url(../img/i-home.svg) no-repeat center;
}

.ie9 section .homeBt > span {
    width: 24px;
    background: url(../img/i-chevron_right.svg) no-repeat center;
}

.ie9 section > div:nth-child(2) > div > div:first-child h2 {
    float: left;
}


/* --------------------------------------------------------------------------------------- */

.ie9 .guidebook {
    display: inline-block;
}

.ie9 .guidewrap > div:nth-child(3) a > span,
.ie9 .guidewrap > div:nth-child(4) a > span {
    display: none;
}

/* --------------------------------------------------------------------------------------- */

.ie9 .group a > span {
    display: none;
}

/* -------------------------------------------------------------------------------------------- */

.ie9 .booking > ul > li > ul > li {
    float: left;
}

.ie9 .booking > div > div > span,
.ie9 .booking > div > div > div {
    float: left;
}

.ie9 .booking > div > div > span {
    width: 25px;
}

.ie9 .booking > div > div:nth-child(1) > span {
    background: url(../img/i-schedule.svg) no-repeat center;
}

.ie9 .booking > div > div:nth-child(2) > span {
    background: url(../img/i-event_available.svg) no-repeat center;
}

.ie9 .booking > div > div > div {
    line-height: 25px;
}

.ie9 .booking > div > div > div > p {
    float: left;
}

.ie9 fieldset > div > p {
    float: left;
    width: 115px;
    line-height: 56px;
}

.ie9 fieldset > div input + span {
    width: 24px;
    height: 24px;
    top: 6px;
}

.ie9 fieldset > div.date input + span {
    background: url(../img/i-schedule_black.svg) no-repeat center;
}

.ie9 fieldset > div.time input + span {
    background: url(../img/i-event_available_black.svg) no-repeat center;
}

.ie9 .timeSel.on {
    display: block;
    transform: translateX(-50%);
    right: 16px;
}

.ie9 .timeSel li {
    float: left;
}


.ie9 .cancle > div:nth-child(1) > div:nth-of-type(1) div {
    float: left;
}

.ie9 .certification >div {
    float: left;
    margin: 0 28px;
}

.ie9 .certification span {
    width: 80px;
    height: 80px;
}

.ie9 .certification > div:nth-child(1) span {
    background: url(../img/i-phone.svg) no-repeat center;
}

.ie9 .certification > div:nth-child(2) span {
    background: url(../img/i-desktop.svg) no-repeat center;
}

.ie9 .consent > span {
    float: left;
    width: 36px;
    height: 36px;
    background: url(../img/i-priority.svg) no-repeat center;
}

.ie9 .consent > div {
    margin: 0 0 0 48px;
}

.ie9 .consent > div > div > p {
    float: left;
}


/* --------------------------------------------------------------------------------------- */



/* .ie9 .way iframe {
    display: none;
}

.ie9 .way > div > a {
    display: block;
    width: 100%;
    height: 450px;
    background: url(../img/sub_map.JPG) no-repeat center / cover;
    margin: 0 0 6px 0;
} */

.ie9 .wayInfo span {
    float: left;
}

.ie9 .wayInfo span {
    background: url(../img/i-event_available_black.svg) no-repeat center;
}

.ie9 .way > div > div:nth-of-type(1) span {
    background: url(../img/i-place_white_sub.svg) no-repeat center;
}

.ie9 .way > div > div:nth-of-type(2) span {
    background: url(../img/i-call_white_sub.svg) no-repeat center;
}

.ie9 .wayInfo p {
    float: left;
}


/* ------------------------------------------------------------------------------------------ */


.ie9 .FAQ > ul > li:nth-child(1) > span:nth-child(1) {
    width: 24px;
    background: url(../img/i-help.svg) no-repeat center;
}

.ie9 .FAQ > ul > li:nth-child(1).on > span:nth-child(1) {
    background: url(../img/i-help_white.svg) no-repeat center;
}

.ie9 .FAQ>ul>li:nth-child(1)>span:nth-child(4) {
    width: 24px;
    background: url(../img/i-expand_more.svg) no-repeat center;
}

.ie9 .FAQ>ul>li:nth-child(1).on>span:nth-child(4) {
    background: url(../img/i-expand_more_white.svg) no-repeat center;
}

/* .ie9 .FAQ>ul>li:nth-child(2).on {
    display: block;
} */

.ie9 .FAQ > ul > li:nth-child(2) > span {
    /* float: left; */
    width: 24px;
    background: url(../img/i-question_answer.svg) no-repeat center;
}

/* .ie9 .FAQ>ul>li:nth-child(2)>div {
    padding: 0 17px 0 49px;
} */



/* ---------------------------------------------------------------------------------------- */


.ie9 .news > li > ul {
    display: block;
    float: right;
}

.ie9 .news>li>ul>li {
    float: left;
}

.ie9 .news>li>ul>li span {
    width: 25px;
    float: left;
}

.ie9 .news>li>ul>li:nth-child(1) span {
    background: url(../img/i-timer.svg) no-repeat center;
}

.ie9 .news>li>ul>li:nth-child(2) span {
    background: url(../img/i-visibility.svg) no-repeat center;
}


/* .ie9 .news>li>ul>li>span {
    width: 25px;
    height: 25px;
} */


/* --------------------------------------------------------------------------------------------- */



.ie9 .noticeBoard > li > p {
    display: inline-block;
}

.ie9 .noticeBoard > li > p span {
    float: right;
    width: 24px;
    height: 24px;
    background: url(../img/i-lock.svg) no-repeat center;
}

.ie9 .noticeBoard > li > div p > span {
    width: 20px;
    background: url(../img/i-forward.svg) no-repeat center;
}

.ie9 .noticeBoard > li > div > div {
    float: left;
}

.ie9 .noticeBoard > li > div > ul {
    float: right;
}

.ie9 .noticeBoard > li > div > ul li {
    float: left;
}

.ie9 .noticeBoard > li > div > ul li span {
    width: 25px;
    float: left;
}

.ie9 .noticeBoard > li > div > ul li:nth-child(1) span {
    background: url(../img/i-timer.svg) no-repeat center;
} 

.ie9 .noticeBoard > li > div > ul li:nth-child(2) span {
    background: url(../img/i-visibility.svg) no-repeat center;
}




.ie9 footer .foot02 > div > a,
.ie9 footer .foot02 > div > div {
    float: left;
} 




@media all and (max-width: 768px) {

    .ie11 .mSns ul,
    .ie10 .mSns ul {
        width: 207px;
    }
    
    html.ie9 {
        overflow-x: hidden;
        overflow-y: visible;
    }
    
    .ie9 header {
        z-index: 99999;
    }
    
    .ie9 .head02 > div > div:nth-child(2) {
        display: block;
        position: relative;
        margin: 0;
    }
    
    
    .ie9 .sear > span {
        position: absolute;
        display: block;
        right: 26px;
    }
    
    .ie9 .mMenuBt {
        position: absolute;
        top: 0px;
        right: 0px;
        display: block;
        width: 26px;
        height: 26px;
        background: url(../img/i-menu.svg);
    }
    
    .ie9 nav {
        /* display: block; */
        z-index: 999998;
    }
    
    .ie9 nav .mCloseBt {
        width: 24px;
        background: url(../img/i-close.svg);
    }
    
    .ie9 nav .gnb,
    .ie9 nav .lnb {
        float: left;
    }
    
    .ie9 nav .gnb ul > li > a {
        line-height: 59px;
    }
    
    
    /* --------------------------------------------------------------------------------- */
    
    
    
    .ie9 .booking > ul > li > ul > li {
        float: none;
    }
    
    .is-ie .booking .closed p:last-child {
        width: 44vw;
    }
    
    .ie9 fieldset > div > p {
        width: 68px;
    }
    
    .ie9 fieldset input {
        width: 53vw;
    }
    
    .ie9 fieldset > div {
        position: relative;
    }
    
    .ie9 fieldset > div input + span {
        position: absolute;
        top: 13px;
        right: 0;
        left: 75%;
    }
    
    .ie9 .on.timeSel {
        z-index: 999;
        /* transform: translateX(0); */
        right: 0;
        left: 60%;
    }
    
    .is-ie .way > div > a {
        height: 40vw;
    }
    
    .ie9 .certification > div {
        margin: 0 0 20px 0;
    }
    
    .ie9 .news > li > ul > li:last-child {
        width: 58px;
    }
    
    .ie9 .noticeBoard > li > div > ul > li:last-child {
        width: 50px;
    }
    
    
    
    .ie9 .mSns ul.on {
        display: block;
        width: 207px;
    }
    
    .ie9 .mSns li {
        float: left;
    }
    
    .ie9 .mSns > div > span {
        width: 24px;
        background: url(../img/i-arrow_drop_down_white.svg) no-repeat center;
    }
    
    .ie9 footer .foot01 div.inner {
        text-align: center;
    }
    
    .ie9 footer .foot02 > div > a,
    .ie9 footer .foot02 > div > div {
        margin: 0 auto;
        float: none;
        text-align: center;
    } 

}
