@charset "utf-8";

.is-ie .gnb > li > ul {
    left: 50%;
    transform: translateX(-50%);
}

.ie10 .swiper-container-horizontal>.swiper-scrollbar {
    height: 15px;
}

@media (max-width: 768px) {

    .is-ie .mean > div {
        width: 80%;
    }
    
    .is-ie .strength {
        width: 44%;
    }

    .ie10 .designSilde {
        height: 92%;
    }
    

}