@charset "utf-8";
/* @import url('index_m_IE.css'); */
/* ie css*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

body {
    min-width: 320px;
}
.inner {
    width: 90%;
}


header {
    height: 58px;
    padding: 0;
    justify-content: center;
}
.Mmenubt {
    display: block;
    position: absolute;
    top: 50%;
    left: 18px;
    transform: translateY(-50%);
    font-size: 26px;
    color: #707070;
    cursor: pointer;
}
.logo {
    width: 61px;
    height: 44px;
    
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 100px 20px;
    z-index: 999;
    display: block;
    flex-direction: row;
    justify-content: flex-start;
    background: #fff;
    transform: translateX(-100%);
    transition: transform 0.5s;
    overflow-y: auto;
}
nav.on {
    transform: translateX(0%);
    transition: transform 0.5s;
}
.gnb {
    width: 100%;
    height: auto;
    display: block;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 0;
    white-space: nowrap;
}

.gnb > li {
    min-height: 70px;
}

.gnb span {
    font-size: 17px;
    line-height: 70px;
}


.gnb > li > ul {
   
    background-color: rgba(112, 112, 112, 0.2);
    position: relative;
    top: 0;
    left: 0;
    padding: 20px;
    justify-content: center;
    width: 100%;
    height: auto;
}

.gnb > li > ul a {
    display: inline-block;
    color: #707070;
    font-size: 14px;
    margin-bottom: 6px;
    border-bottom: unset;
}
.gnb >li:hover > ul {
    display: none;
    
}
.gnb >li > ul.on {
    display: flex;
    
}



.gnb .coffee > li > ul a {
    display: inline-block;
    font-size: 12px;
}


.gnb .coffee > li > ul a:hover {
    border-bottom: unset;
}

.gnb .coffee >li:hover > ul {
    display: none;
    
}
.gnb .coffee >li > ul.on {
    display: flex;
    
}



nav .icon {
    position: absolute;
    top: 5%;
    left: 5%;
}
nav .icon span{
    font-size: 35px;
}





nav .Mclosebt {
    display: block;
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 35px;
    color: #707070;
    cursor: pointer;
}



















.sec01 {
    height: 471px;
}
.sec01 > div> div {
    height: 471px;
    padding-top: 58px;
    display: flex;
    align-items: center;
}




.slide01 .content {
    display: flex;
    flex-direction: column;
    height: 356px;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.slide01 .content > div {
    height: 177px;
}
.sec01 img {
    width: 140px;
    height: 160px;
}
.slide01 .text {
    height: 110px;
}
.slide01 .text > p:first-child{
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 500;
}

.slide01 .text >div >p:first-child {
    font-size: 13px;
}
.slide01 .text >div >p:last-child {
    font-size: 19px;
}
.slide01 .text > p:last-child {
    font-size: 11px;
}

.slide01 .taste {
    width: 210px;
}
.slide01 .taste > div {
    width: 60px;
    height: 60px;
}




/* -------------------------------------------------------------------------------- */



.slide02 {
    background-position: 35% 50%;
}
.slide02 > div > div {
    margin: 0 0 0 35px;
}
.slide02 .text > p:first-child {
    font-size: 19px;
}
.slide02 .text > p:last-child {
    font-size: 19px;
}
.slide02 .roastingpoint {
    height: 65px;
    margin-top: 36px;
}

.slide02 .roastingpoint > div > p {
    font-size: 12px;
    width: 36px;
}


.slide02 .roastingpoint > div > div {
    width: 111px;
    margin-left: 16px;
}
.slide02 .roastingpoint > div > div > div {
    width: 15px;
    height: 15px;
}



/* ----------------------------------------------------------------------------- */



.slide03 {
    background: linear-gradient(to bottom, #fff 55%,#DCCFE6 55%);
}
.slide03 > .inner {
    margin-top: 0;
}
.wsbcT {
    display: flex;
    justify-content: center;
}
.wsbcT >div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.wsbcT .world > p:first-child {
    font-size: 12px;
    text-align: right;
}
.wsbcT .world > p:last-child {
    font-size: 16px;
}
.wsbcT img {
    width: 165px;
    height: 59px;
}
.MwsbcB {
    display: block;
    width: 78px;
    position: relative;
    margin-left: 18px;
}
.MwsbcB > div {
    width: 56px;
    height: 131px;
    background-image: url(../img/rich2.png);
    background-size: cover;
}
.MwsbcB > p {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgba(88, 26, 135, 0.6);
    font-size: 10px;
    font-weight: bold;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
}

.wsbcB > div:first-child {
    display: none;
}


.wsbcB > div:last-child {
    width: 90%;
    margin: 0 auto;
    padding: 22px 0 0 0;
}
.wsbcB > div:last-child > div {
    width: 32%;
    height: 66px;
}



/* -------------------------------------------------------------------------------- */




.slide04 {
    background-size: cover;
    background-position: 25% 50%;
}
.slide04 .text {
    font-size: 12px;
    margin: 0 0 0 35px;
}
.slide04 .text span {
    font-size: 19px;
}



/* ------------------------------------------------------------------------------- */



.slide05 {
    background-position: 20% 50%;
}
.slide05 .text {
    bottom: 82px;
    left: 17%;
}
.slide05 .text > p {
    font-size: 12px;
    padding: 0 0 11px 0;
}

.slide05 .text >div > p:first-child {
    font-size: 12px;
}

.slide05 .text >div > p:last-child {
    font-size: 19px;
    margin-right: 10px;
}




.more {
    right: 10px;
    bottom: 13px;
}

.more > a >p {
    font-size: 14px;
}
.more > a > span {
    font-size: 21px;
    padding-left: 8px;
}











.sec02 {
    height: auto;
}
.sec02 .inner {
    display: block;
}
.sec02 .coffee {
    width: 100%;
    padding: 20px 0;
}

.coffee h1 {
    font-size: 24px;
}
.coffee01 {
    display: flex;
    justify-content: space-between;
}

.coffee01 >a >p {
    font-size: 10px;
}
.coffee01 >a >span {
    font-size: 12px;
}





.coffee02 .Cbotton p {
    padding: 9px 14px;
    font-size: 12px;
}

.coffee02 .coffeeWrap {
    height: 267px;
}

.coffee02 .coffeeWrap a {
    background-size: cover;
    overflow: visible;
}

.coffeeWrap .box {
    height: 30%;
    background-color: unset;
    color: #222;
    justify-content: flex-start;
    transform: translateY(120%);
    word-break: keep-all;
}

.coffeeWrap a:hover .box{
    transform: translateY(120%);
}
 



.coffeeWrap h2 {
    font-size: 15px;
}
.coffeeWrap p {
    font-size: 12px;
    padding-top: 4px;
}






.coffeeB .Best03 > img {
    width: 35px;
    height: 58px;
}









.sec02 .edu {
    width: 100%;
    padding: 20px 0;
    margin: 0;
    border-top: 1px solid #F5F6F1;
    border-left: none;
}
.edu01 >div{
    display: flex;
    justify-content: space-between;
}
.edu01 > div>  h1 {
    font-size: 24px;
}
.edu01 >div > a {
    display: flex;
    align-items: center;
}

.edu01 > div >a >p {
    font-size: 10px;
}
.edu01 >div >a >span {
    font-size: 12px;
}
.edu01 > p {
    font-size: 12px;
}



.edu02 .Ebotton p {
    padding: 8px 16px;
}


.edu02 > div:last-child {
    height: 160px;
    display: flex;
    justify-content: center;
}

.edu02 li {
    font-size: 12px;
    margin: 10px;
}







.sec03 {
    height: 20vw;
    background-size: contain;
}







.sec04 .inner {
    height: auto;
    display: flex;
    flex-direction: column;
}
.sec04 .location {
    width: 100%;
    padding: 20px 0;
    margin: 0;
    border-right: none;
}
.sec04 h1 {
    font-size: 24px;
    margin-bottom: 21px;
}
.map > p {
    font-size: 12px;
}
.map > iframe {
    height: 30vw;
}
.wrap {
    height: auto;
    margin-top: 20px;
}
.wrap > div {
    font-size: 12px;
    word-break: keep-all;
    margin-bottom: 7px;
}
.wrap > div > p:first-child {
    width: 48px;
}


.guide > div > span {
    display: block;
}
.guide > div > span::after {
    display: none;
}



.sec04 .contact {
    width: 100%;
    height: 100%;
    padding: 20px 0;
    border-top: 1px solid #F5F6F1;
}
.contact > div {
    height: auto;
}

.contact > div > div:nth-child(2) >div:first-child >p {
    font-size: 21px;
}

.call {
    padding: 23px 0 16px 0;
}
.call span {
    font-size: 28px;
}
.call p {
    font-size: 24px;
}
.time >div {
    font-size: 14px;
    height: 47px;
}
.time > p {
    font-size: 10px;
}

.sns {
    width: 110px;
}
.sns i {
    width: 30px;
    height: 30px;
    font-size: 15px;
    line-height: 30px;
    border: none;
}
.sns .facebook {
    color: #fff;
    background-color: #4867AA;
}
.sns .instagram {
    color: #fff;
    background: linear-gradient(to bottom right, #3B44ED, #A53CA9, #E54D4B, #EF6A31, #ECC864);
}
.sns .blogicon {
    width: 30px;
    height: 30px;
    background-image: url(../img/blogcc.png);
    background-size: contain;
}
.sns .blogicon:hover {
    background-image: url(../img/blogcc.png);
    background-size: contain;
    transition: unset;
}





footer {
    height: auto;
}
.f01 {
    height: auto;
    padding: 15px 0;
}

.f01 > div  {
    font-size: 11px;
    display: flex;
    flex-direction: column;
}
.f01 p::after {
    content: "|";
}
.f01 > div > div > p:last-child:after {
    display: none;
}




.f02 {
    height: auto;
    padding: 15px 0;
}
.f02 > div {
    display: flex;
    flex-direction: column;
}
.f02 > div > div:first-child {
    width: 74px;
    height: 25px;
    margin: 0 0 17px 0;
}
.f02 p {
    font-size: 11px;
    margin: 1px 0;
}
.infor {
    height: auto;
}
.infor > div {
    display: flex;
    flex-direction: column;
}


.infor p::after {
   display: none;
}
.infor > div:nth-child(1) > div > p:first-child:after,
.infor > div:nth-child(3) > div>  p:first-child::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 10px;
    margin: 0 8px;
    background-color: #222;
}
.f02 > div > div:last-child >p {
    margin-top: 8px;
}