@charset "UTF-8";


/* ie-checker로 cross browsing */
/* .is-ie .sec01{
    position: relative;
}
.is-ie .sec01 a.s01 {
    background: url(/ez210927/kjw/PB/img/getImage1.png) no-repeat 50% 50%;
    background-size: cover;
}
.is-ie .sec01 a.s02 {
    background: url(/ez210927/kjw/PB/img/getImage2.png) no-repeat 50% 50%;
    background-size: cover;
}
.is-ie .sec01 a.s03 {
    background: url(/ez210927/kjw/PB/img/getImage3.png) no-repeat 50% 50%;
    background-size: cover;
}
.is-ie .sec01 a div {
    background-color: rgba(0, 0, 0, 0.5);
} */
.is-ie .sec02 .sec02Top .way > div:last-child > iframe {
    display: none;
}
.is-ie .sec02 .sec02Top .way > div:last-child > a {
    display: block;
    width: 100%;
    height: 170px;
    background: url(/ez210927/kjw/PB/img/main_map.JPG) no-repeat center / cover;
    margin: 0 0 6px 0;
}

.is-ie .ser a:nth-child(3) div,
.is-ie .ser a:nth-child(3):hover div {
    background-size: 80%;
}

.is-ie .ser a:nth-child(4) div,
.is-ie .ser a:nth-child(4):hover div {
    background-size: 76%;
}

/* .ie9 이하인 버전에서만 적용 */
.is-ie.ie9 .clearfix::after{
    content: "";
    display: table;
    /* display: block; */
    clear: both;
}



/* .ie11 IE11전용 flex안되는 것 보정 */

.ie11 .sns ul {
    width: 207px;
}

.ie11 .edu li span:nth-child(1) {
    padding: 0;
}



/* .ie10 IE10전용 flex안되는 것 보정 */

.ie10 .sns ul {
    width: 207px;
}

.ie10 .edu li span:nth-child(1) {
    padding: 0;
}

/* .ie9 IE9전용 flex안되는 것 보정 */

.ie9 .head01 .inner .link {
    float: left;
    display: block;
}

.ie9 .head01 .inner .login {
    float: right;
    display: block;
}

.ie9 .link a {
    display: block;
    float: left;
}

.ie9 .link a span {
    display: none;
}

.ie9 .login > a {
    float: left;
}

.ie9 .login > div {
    float: right;
}  


.ie9 .sns > div span {
    width: 20px;
    background: url(/ez210927/kjw/PB/img/i-arrow_drop_down.svg) no-repeat center;
}


.ie9 .sns:hover ul {
    display: block;
    width: 207px;
}

.ie9 .sns li {
    float: left;
}


.ie9 .head02 > div > div:nth-child(1) {
    float: left;
}

.ie9 .head02 > div > div:nth-child(2) {
    float: right;
    margin: 11px 0 0 0;
}

.ie9 .sear,
.ie9 .lan {
    float: left;
}

.ie9 .sear span {
    width: 26px;
   background: url(/ez210927/kjw/PB/img/i-search.svg) no-repeat center; 
}

.ie9 .lan a {
    float: left;
}




.ie9 nav .gnb ul li {
    float: left;
}

.ie9 nav .lnb {
    z-index: 99999;
}

.ie9 nav .lnb > div > ul {
    float: left;
    height: 591px;
}







.ie9 .sec01  a {
    height: 393px;
    display: block;
}

.ie9 .sec01{
    position: relative;
}
.ie9 .sec01 a.s01 {
    background: url(/ez210927/kjw/PB/img/getImage1.png) no-repeat 50% 50%;
    background-size: cover;
}
.ie9 .sec01 a.s02 {
    background: url(/ez210927/kjw/PB/img/getImage2.png) no-repeat 50% 50%;
    background-size: cover;
}
.ie9 .sec01 a.s03 {
    background: url(/ez210927/kjw/PB/img/getImage3.png) no-repeat 50% 50%;
    background-size: cover;
}
.ie9 .sec01 a div {
    background-color: rgba(0, 0, 0, 0.5);
}

.ie9 .sec01 span.slick-Prev,
.ie9 .sec01 span.slick-Next{
    display: block;
    z-index: 9999;
    width: 36px;
    height: 36px;
}
/* 슬릭 네비게이터 및 컨트롤러 재설정 */

.ie9 .sec01 span.slick-Prev {
    background: url(/ez210927/kjw/PB/img/i-play_circle_filled_white.svg) no-repeat center;
}

.ie9 .sec01 span.slick-Next {
    background: url(/ez210927/kjw/PB/img/i-play_circle_filled_white.svg) no-repeat center;
}

.ie9 .sec01 .controlBt {
    width: 26px;
    height: 26px;
    background: url(/ez210927/kjw/PB/img/i-pause_white.svg) no-repeat center;
    z-index: 9999;
}

.ie9 .sec01 .slick-dots {
    z-index: 9999;
}

.ie9 .sec01 .slick-dots li {
    float: left;
}


.ie9 .sec02 .sec02Top > div {
    float: left;
    height: 348px;
}

.ie9 .sec02 .sec02Top > div > div:first-child h2 {
    float: left;
}

.ie9 .sec02 .sec02Top > div > div:first-child button,
.ie9 .sec02 .sec02Top > div > div:first-child a {
    float: right;
}

.ie9 .sec02 .sec02Top > div > div:first-child span {
    width: 24px;
    background: url(/ez210927/kjw/PB/img/i-add.svg) no-repeat center;
}

.ie9 .sec02 .sec02Top .edu li span:nth-child(2) {
    float: right;
}

/* .ie9 .sec02 .sec02Top .way > div:last-child > iframe {
    display: none;
}
.ie9 .sec02 .sec02Top .way > div:last-child > a {
    display: block;
    width: 100%;
    height: 170px;
    background: url(/ez210927/kjw/PB/img/main_map.JPG) no-repeat center;
    margin: 0 0 6px 0;
} */

.ie9 .sec02 .sec02Top .way > div:last-child > div > span,
.ie9 .sec02 .sec02Top .way > div:last-child > div > div {
    float: left;
} 

.ie9 .sec02 .sec02Top .way > div:last-child > div:nth-of-type(1) > span {
    background: #1F497D url(/ez210927/kjw/PB/img/i-place_white.svg) no-repeat center / 80%;
}

.ie9 .sec02 .sec02Top .way > div:last-child > div:nth-of-type(2) > span {
    background: #1F497D url(/ez210927/kjw/PB/img/i-call_white.svg) no-repeat center / 80%;
}

.ie9 .sec02 .sec02Top .way > div:last-child > div > div {
    margin: 5px 0;
}

.ie9 .sec02 .sec02Top .way > div:last-child > div > div p {
    float: left;
}


.ie9 .sec02 .sec02Bottom .news {
    float: left;
}

/* .ie9 .sec02 .sec02Bottom .news h3 {
    line-height: 75px;
} */

.ie9 .sec02 .sec02Bottom .ser {
    float: right;
}

.ie9 .sec02 .sec02Bottom .ser a {
    margin-right: 34px;
}

.ie9 .sec02 .sec02Bottom .ser a:last-child {
    margin-right: 0;
}

.ie9 footer .foot02 > div > a,
.ie9 footer .foot02 > div > div {
    float: left;
} 

.ie9 .modal {
    z-index: 999999;
}


.ie9 .modal.on {
    display: block;
}

.ie9 .modal .modalBody {
    margin: 50px auto;
}

.ie9 .modalBody > span {
    width: 24px;
    height: 24px;
    background: url(/ez210927/kjw/PB/img/i-close_black.svg) no-repeat center;
}

.ie9 .modalBody > ul > li > ul > li {
    float: left;
}

.ie9 .modalBody > div > div > span,
.ie9 .modalBody > div > div > div {
    float: left;
}

.ie9 .modalBody > div > div > span {
    width: 25px;
}

.ie9 .modalBody > div > div:nth-child(1) > span {
    background: url(/ez210927/kjw/PB/img/i-schedule.svg) no-repeat center;
}

.ie9 .modalBody > div > div:nth-child(2) > span {
    background: url(/ez210927/kjw/PB/img/i-event_available.svg) no-repeat center;
}

.ie9 .modalBody > div > div > div {
    line-height: 25px;
}

.ie9 .modalBody > div > div > div > p {
    float: left;
}

.ie9 fieldset > div > p {
    float: left;
    width: 115px;
    line-height: 56px;
}

.ie9 fieldset > div input + span {
    width: 24px;
    height: 24px;
    top: 6px;
}

.ie9 fieldset > div.date input + span {
    background: url(/ez210927/kjw/PB/img/i-schedule_black.svg) no-repeat center;
}

.ie9 fieldset > div.time input + span {
    background: url(/ez210927/kjw/PB/img/i-event_available_black.svg) no-repeat center;
}

.ie9 .timeSel.on {
    display: block;
    transform: translateX(-50%);
    right: 16px;
}

.ie9 .timeSel li {
    float: left;
}