@charset "utf-8";


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

body {
    min-width: 320px;
}
.inner {
    width: 90%;
}



header {
    width: 100%;
    height: auto;
    border-bottom: 4px solid #1F497D;
}


.head01 {
    display: none;
}


.head02 > div.inner {
    padding: 16px 0;
    position: relative;
}


.logo a:nth-child(1) {
    width: 82px;
    height: 23px;
    background-size: cover;
}

.logo a:nth-child(2) {
    width: 54px;
    height: 23px;
    background-size: cover;
}

.mLan {
    display: inline-block;
    font-size: 8px;
    color: #1F497D;
    padding: 0 2px;
    border: 1px solid #999;
    margin-left: 4px;
}

.mLan:hover {
    background-color: #1F497D;
    color: #fff;
    border: none;
}


.sear > input {
    display: none;
}

.sear > span {
    font-size: 24px;
    line-height: 24px;
    position: static;
}

.lan {
    display: none;
}

.mMenuBt {
    display: inline-block;
    color: #1F497D;
    cursor: default;
}




nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
    background: #fff;
    word-break: keep-all;
    display: flex;
    transform: translateX(-100%);
    transition: transform 0.5s;
    overflow: hidden;
}

nav.on {
    transform: translateX(0%);
    transition: transform 0.5s;
}



nav .gnb {
    width: 30%;
    height: 100%;
    background-color: #1F497D;

    padding: 62px 0 0 0;
}

nav .gnb > .inner {
    width: 100%;
}

nav .gnb ul {
    display: block;
}

nav .gnb ul > li {
    width: 100%;
    border: none;

}

nav .gnb ul > li:hover {
    background-color: #4670A4;
}

nav .gnb ul > li.on {
    background-color: #4670A4;
}

nav .gnb ul > li:first-child {
    border-left: none;
}

nav .gnb ul > li > a {
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .lnb {
    width: 70%;
    position: static;
    display: block;
    box-shadow: none;
    padding: 62px 0 0 0;
    position: relative;
}

nav .mlogin {
    display: block;
    font-size: 12px;
    font-weight: 500;
    color: #222;
    position: absolute;
    top: 22px;
    left: 11px;
}

nav .mCloseBt {
    display: block;
    position: absolute;
    top: 16px;
    right: 7%;
    color: #1F497D;
    cursor: default;
}

nav .lnb >div {
    width: 100%;
    display: block;
}

nav .lnb >div > ul {
    width: 100%;
    padding: 24px 0 24px 32px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-right: none;   
    transform: translateX(100%);
    transition: transform 0.5s;
    position: absolute;
}

nav .lnb >div > ul.on {
    transform: translateX(0%);
    transition: transform 0.5s;
}

nav .lnb > div > ul:nth-child(1) {
    border-left: none;
}


/* nav .lnb >div > ul:nth-child(6) {
    background: url(/ez210927/kjw/PB/img/gnb7.gif) no-repeat 50% 50%;
    background-size: auto;
} */




nav .lnb >div > ul > li > a {
    font-size: 13px;
    font-weight: 500;
    color: #1F497D;
}



nav .lnb >div > ul > li > ul > li > a {
    font-size: 12px;
}
















.sec01 .inner {
    padding: 16px 0;
}

.sec01 > div > div {
    height: 261px;
}

.sec01 a {
    height: 261px;
}



.sec01 a div {
    height: auto;
    padding: 36px 20px;
}

.sec01 h2 {
    font-size: 12px;
}
.sec01 h3 {
    font-size: 8px;
}


.sec01 .slick-Prev {
    left: 20px;
    font-size: 24px;
}

.sec01 .slick-Next {
    right: 20px;
    font-size: 24px;
}

.sec01 .slick-dots {
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}


.sec01 .slick-dots li {
    width: 8px;
    height: 8px;
}




.sec01 .controlBt {
  display: none;

}








.sec02Top {
    flex-direction: column;
}

.sec02Top > div {
    width: 100%;
}


.sec02Top > div > div:first-child {
    padding: 16px 0;
}

.sec02Top h2 {
    font-size: 15px;
}



.booking > div:nth-child(1) button {
    font-size: 12px;
}

.book {
    padding: 16px 20px;
}




.book p {
    font-size: 12px;
}


.book p:first-child {
    font-size: 12px;
}


.edu > div:nth-child(2) a::before {
    top: 8px;
}


.edu li span:nth-child(1) {
    width: 55vw;
    font-size: 12px;
}

.edu li span:nth-child(2) {
    font-size: 11px;
}


.way>div:nth-child(2) span {
    width: 18px;
    height: 18px;
    font-size: 12px;
    padding: 3px;
    border-radius: 100%;
    background-color: #1F497D;
    color: #fff;
    margin: 5px 0;
}










.way>div:nth-child(2)>div {
    align-items: flex-start;
    padding: 6px 0;
}

.way>div:nth-child(2)>div>div {
    padding: 0 0 0 12px;
    display: block;
}

.way>div:nth-child(2)>div>div>p:nth-child(1) {
    font-size: 12px;
    margin: 0;
}

.way>div:nth-child(2)>div>div>p:nth-child(2) {
    font-size: 11px;
}







.sec02Bottom {
    flex-direction: column;
    padding: 16px 0;
}

article {
    width: 100%;
}

.sec02Bottom>div {
    width: 100%;
}





article h3 {
    font-size: 14px;
    margin: 0 8px 0 0;

}
.slick-vertical .slick-slide {
    padding: 0 16px;
}
article a {
    display: flex;
    justify-content: space-between;
}


article span:nth-of-type(1) {
    font-size: 14px;
    width: 50vw;
}

article span:nth-of-type(2) {
    font-size: 12px;
    padding-left: 36px;
}



.ser {
    padding: 16px 0 0 0;
}

.ser a {
    width: 18%;
    padding: 4px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.ser a p {
    display: flex;
    justify-content: center;
    height: 32px;
    font-size: 11px;
    padding-top: 0px;
    align-items: center;
}








.foot01 >div.inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.foot01 a {
    margin: 8px 16px;
    font-size: 12px;
}


footer > div:nth-child(2) {
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    
}

.mSns {
    position: relative;
}

.mSns >div {
    padding: 0 16px;
    font-size: 13px;
    line-height: 34px;
    color: #fff;
    cursor: pointer;
    text-align: center;
}

.mSns >div >span {
    font-size: 17px;
}

.mSns ul {
    align-items: center;
    position: absolute;
    z-index: 99;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #fff;
    display: none;
}

.mSns ul.on {
    display: flex;
}


.mSns li {
    width: 37px;
    height: 37px;
    margin: 4px 2px;
}

.mSns li a {
    display: inline-block;
    width: 100%;
    height: 100%;

}

.mSns li:nth-child(1) {
    background: url(/ez210927/kjw/PB/img/iconset.png) no-repeat -399px -57px;
}
.mSns li:nth-child(2) {
    background: url(/ez210927/kjw/PB/img/iconset.png) no-repeat -399px 0;
    
}
.mSns li:nth-child(3) {
    background: url(/ez210927/kjw/PB/img/iconset.png) no-repeat -399px -228px;
}
.mSns li:nth-child(4) {
    background: url(/ez210927/kjw/PB/img/iconset.png) no-repeat -399px -171px;
}
.mSns li:nth-child(5) {
    background: url(/ez210927/kjw/PB/img/iconset.png) no-repeat -399px -114px;
}










.foot02 .inner {
    padding: 16px 0 85px 0;
    flex-direction: column;
    align-items: center;
}



.foot02 a + div {
    padding-left: 0;
}

.foot02 address {
    font-size: 12px;
    padding: 4px 0;
}

.foot02 address span {
    display: block;
}

.foot02 address span:nth-child(2) {
    display: none;
}

.foot02 small {
    font-size: 12px;
}

.foot02 img {
    right: 50%;
    bottom: 0;
    transform: translateX(50%);
}







.modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 9999;
    overflow: hidden;
    justify-content: center;
    display: none;
}

.modal.on {
    display: flex;
}

.not_scroll{
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100%
}

.modalBody {
    width: 80%;
    height: 842px;
    min-width: 300px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    padding: 48px 24px;
    margin: 50px 0;
}

.modalBody > span {
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
}

.modalBody h2 {
    font-size: 15px;
    text-align: center;
    margin-bottom: 26px;
}

/* .modalBody > ul,
.modalBody > div {
    padding-left: 20px;
} */

.modalBody > ul > li {
    font-size: 12px;
    font-weight: 500;
    color: #FF6767;
    margin-bottom: 8px;
}

.modalBody > ul > li > ul {
    display: block;
    margin-top: 2px;
}

.modalBody > ul > li > ul > li {
    font-size: 11px;
    color: #222;
    margin-left: 16px;
}

.modalBody > div {
    margin: 16px 0;
}

.modalBody > div > div {
    display: flex;
}

.modalBody > div > div:first-child {
    margin-bottom: 4px;
}

.modalBody > div > div >div {
    display: flex;
}

.modalBody > div span {
    font-size: 20px;
    margin-right: 8px;
    color: #1F497D;
}

.modalBody > div p {
    font-size: 12px;
}

.modalBody > div p:first-child {
    color: #1F497D;
    font-weight: 500;
}
.modalBody > div p:first-child::after {
    display: inline-block;
    content: "|";
    font-size: 10px;
    margin: 0 8px;
}

form {
    display: flex;
    justify-content: center;
}

fieldset {
    border: none;
}

fieldset legend {
    display: none;
}

fieldset > p {
    font-size: 12px;
    color: #FF6767;
    margin-bottom: 8px;
}

fieldset > div {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

fieldset > div > p {
    width: 68px;
    margin-right: 16px;
    font-size: 12px;
    color: #1F497D;
}

fieldset > div > p> span {
    color: #FF6767;
}



fieldset input {
    width: 45vw;
    height: 50px;
    padding: 0 24px;
    /* position: relative; */
    font-size: 12px;
}

fieldset input + span {
    position: relative;
    right: 36px;
    top: 0;
    cursor: pointer;
}

fieldset .tel select,
fieldset .tel input {
    width: 14vw;
}


fieldset select {
    width: 24vw;
    height: 50px;
    /* padding: 0 36px; */
    font-size: 12px;
    text-align: center;
}

fieldset select > option {
    font-size: 12px;
    padding: 10px;
}



fieldset button {
    display: block;
    width: auto;
    font-size: 12px;
    background-color: #1F497D;
    color: #fff;
    border: none;
    padding: 6px 18px;
    margin: 32px auto 0;
    cursor: pointer;
}

fieldset .time {
    position: relative;
}

.timeSel {
    position: absolute;
    top: 50px;
    right: 24px;
    width: 45vw;
    /* display: flex; */
    flex-wrap: wrap;
    /* justify-content: space-between; */
    padding: 12px;
    background-color: #fff;
    border: 1px solid #c5c5c5;
    transition: all 1s;
    display: none;
}

.timeSel.on {
    display: flex;
    transition: all 1s;
    border-radius: 3px;
}

fieldset ul li {
    width: 30%;
    text-align: center;
    border: 1px solid #aaa;
    padding: 3px;
    margin-bottom: 4px;
    cursor: pointer;
    /* color: #aaa; */
    margin: 3px 2px;
    font-weight: 300;
    font-size: 12px;
}

fieldset ul li:hover {
    color: #fff;
    background-color: #00B0F0;
    border-color: transparent;
}

fieldset ul li.on {
    color: #fff;
    background-color: #00B0F0;
    border-color: transparent;
}




/* datapicker */
#ui-datepicker-div {
    width: 45vw;
    font-family: 'Noto Sans KR', sans-serif;
}

.ui-widget-header {
    background: none;
    border: transparent;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
}

.ui-datepicker-title > span {
    font-size: 12px;
}


.ui-datepicker-calendar > thead span {
    color: #F3AC4A;
    font-size: 12px;
}

.ui-datepicker-calendar > tbody a,
.ui-datepicker-calendar > tbody span {
    text-align: center;
    background-color: transparent;
}


.ui-datepicker-calendar > tbody a:hover,
.ui-datepicker-calendar > tbody span:hover {
    background-color: #00B0F0;
    color: #fff;
}



.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button{
    border: none;
    background-color: transparent;
    padding: 4px;
    font-size: 12px;
}



.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
    border: none;
    background-color: transparent;
    color: #00B0F0;
}



.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    border: none;
    background-color: #00B0F0;
    color: #fff;
}
